<div class="content-layout fullwidth-basic-normal-scroll">
    <treo-card class="auth-card">
        <!-- Form container -->
        <div class="form-container">
            <div class="form">
                <!-- Logo -->
                <!-- <div class="logo">
                    <img src="assets/images/logo/logo.svg">
                </div> -->

                <!-- Title -->
                <div class="title mb-10">Sign Up </div>
                <!-- Message -->
                <treo-message *ngIf="message" [appearance]="message.appearance" [showIcon]="message.showIcon"
                    [type]="message.type" [@shake]="message.shake">
                    {{message.content}}
                </treo-message>
                <mat-horizontal-stepper #stepper>
                    <mat-step>
                        <form>
                            <mat-form-field>
                                <mat-label>Mobile number</mat-label>
                                <input matInput placeholder="Enter Mobile number" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Shop Owner Name</mat-label>
                                <input matInput placeholder="Enter Shop Owner Name" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Shop Name</mat-label>
                                <input matInput placeholder="Enter Shop Name" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Enter Email" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Enter Password" required>
                            </mat-form-field>
                            <div class="flex gt-xs:flex-row flex-auto">
                                <button class="add-btn mat-flat-button mat-primary" mat-flat-button
                                    matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>

                    <!-- #docregion label -->
                    <mat-step>
                        <!-- #enddocregion label -->
                        <form>
                            <div class='upload-wrapper'>
                              <label class='matlbl'>Shop Cover Image</label>
                              <div class='fileinput'(click)="fileInput.click()">
                              <input  class='filedata' hidden #fileInput type="file" id="file">
                                <span>+ </span>
                              </div>
                            </div>
                            <div class='upload-wrapper'>
                              <label class='matlbl'>Shop Cover Image</label>
                              <div class='fileinput'(click)="fileInput1.click()">
                              <input  class='filedata' hidden #fileInput1 type="file" id="file1">
                                <span>+ </span>
                              </div>
                            </div> 
                            
                           <div class='clear'></div>
                        
                        
                        
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Enter Address" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Gst Number</mat-label>
                                <input matInput placeholder="Enter Gst Number" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Location</mat-label>
                                <input matInput placeholder="Enter Location" required>
                            </mat-form-field>
                            <div class="flex flex-row items-center">
                                <button class="add-btn mat-flat-button mat-primary ml-2" mat-flat-button
                                    matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step>
                        <form>
                            <div class="flex gt-xs:flex-row flex-auto">
                              <div class='upload-wrapper'>
                                <label class='matlbl'>Adhar Front image</label>
                                <div class='fileinput'(click)="fileInput.click()">
                                <input  class='filedata' hidden #fileInput type="file" id="file">
                                  <span>+ </span>
                                </div>
                              </div>
                              <div class='upload-wrapper'>
                                <label class='matlbl'>Adhar Back image</label>
                                <div class='fileinput'(click)="fileInput1.click()">
                                <input  class='filedata' hidden #fileInput1 type="file" id="file1">
                                  <span>+ </span>
                                </div>
                              </div> 
                              
                             <div class='clear'></div>

                            </div>
                            <button class="add-btn mat-flat-button mat-primary ml-2" mat-flat-button
                                (click)="signIn()">Submit</button>
                        </form>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </treo-card>

</div>