@import 'treo';

auth-sign-up {

    .content-layout {
        align-items: center;
        justify-content: center;
        background-color: #fff;
        treo-card {
            box-shadow: unset!important;
            .form-container {

                .form {
                    width: 100%;
                    min-width: 100%;
                    max-width: 100%;
                }
                .upload-wrapper{
                    display: inline-block;
                    margin-right: 100px;
                    .matlbl{
                        color: #222;
                        font-weight: 600;
    
                    }
                    .fileinput{
                        border: 1px solid #cfd8e3;
                        height: 100px;
                        width: 100%;
                        border-radius: 3px;
                        margin: 5px 0 16px 0;
                        position: relative;
                        background-color: #F0FBFD;
                        .filedata{
                            height: 100px;
                            opacity: 0;
                        }
                        span{
                            position: absolute;
                            left: 40%;
                            top: 15%;
                            font-size: 39px;
                            font-weight: 500;
                        }
                    }
                }
                .mat-step-header.mat-horizontal-stepper-header {
                    height: auto;
                    padding: 0;
                    .mat-step-icon {
                        margin-right:0px;
                    }
                    .mat-step-label {
                        display: none;
                    }
                }
               

                .subtitle, .title {
                    text-align: center;
                }
            }
        }
    }
}

.treo-theme-light .mat-step-header .mat-step-icon {
    background-color: #CBCCC9!important;
    color: #f0f5ff;
}

.treo-theme-light .mat-step-header .mat-step-icon-selected, .treo-theme-light .mat-step-header .mat-step-icon-state-done, .treo-theme-light .mat-step-header .mat-step-icon-state-edit

{
    background-color: #595959!important;
}
// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

}
