<div class="content-layout fullwidth-basic-normal-scroll">
    <treo-card class="auth-card">
        <!-- Form container -->
        <div class="form-container">
            <div class="form">
                <!-- Logo -->
                <!-- <div class="logo">
                    <img src="assets/images/logo/logo.svg">
                </div> -->

                <!-- Title -->
                <div class="title">Registration</div>
                <div class="subtitle mb-10">
                    <span>Already have an account?</span>
                    <a class="link"
                       [routerLink]="['/sign-in']">Sign in</a>
                </div>
                <!-- Message -->
                <treo-message *ngIf="message" [appearance]="message.appearance" [showIcon]="message.showIcon"
                    [type]="message.type" [@shake]="message.shake">
                    {{message.content}}
                </treo-message>
                <mat-horizontal-stepper [linear]="isLinear" #stepper>
                    <mat-step  [stepControl]="formNameGroup">
                        <form [formGroup]="formNameGroup">
                            <div class='sideformView'>
                                <mat-label>Mobile number</mat-label>
                                <mat-form-field>
                                    <input matInput placeholder="Enter Mobile number" formControlName="mobilenumber" required>
                                </mat-form-field>

                            </div>
                            <div class='sideformView'>

                                <mat-label>Shop Owner Name</mat-label>
                                <mat-form-field>
                                    <input matInput placeholder="Enter Shop Owner Name" formControlName="ownername" required>
                                </mat-form-field>
                            </div>
                            <div class='sideformView'>

                                <mat-label>Shop Name</mat-label>
                                <mat-form-field>
                                    <input matInput placeholder="Enter Shop Name" formControlName="shopname" required>
                                </mat-form-field>
                            </div>
                            <div class='sideformView'>
                                <mat-label>Email</mat-label>
                                <mat-form-field>
                                    <input matInput placeholder="Enter Email" formControlName="email" required>
                                </mat-form-field>
                            </div>
                            <div class='sideformView'>
                                <mat-label>Password</mat-label>
                                <mat-form-field>
                                    <input matInput placeholder="Enter Password" formControlName="password" required>
                                </mat-form-field>
                            </div>
                            <div class="flex gt-xs:flex-row flex-auto">
                                <button class="add-btn mat-flat-button mat-primary" mat-flat-button
                                    matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>

                    <!-- #docregion label -->
                    <mat-step [stepControl]="locationgroup">
                        <!-- #enddocregion label -->
                        <form [formGroup]="locationgroup">
                            <div class='upload-wrapper'>
                              <label class='matlbl'>Shop Cover Image</label>
                              <div class='fileinput'(click)="fileInput.click()">
                              <input  class='filedata' hidden #fileInput type="file" id="file">
                                <span>+ </span>
                              </div>
                            </div>
                            <div class='upload-wrapper'>
                              <label class='matlbl'>Shop Cover Image</label>
                              <div class='fileinput'(click)="fileInput1.click()">
                              <input  class='filedata' hidden #fileInput1 type="file" id="file1">
                                <span>+ </span>
                              </div>
                            </div> 
                            
                           <div class='clear'></div>
                        
                        
                           <div class='sideformView'>
                               <mat-label>Address</mat-label>
                               <mat-form-field>
                                   <input matInput placeholder="Enter Address" formControlName="address" required>
                               </mat-form-field>
                            </div>
                            <div class='sideformView'>
                                <mat-label>Gst Number</mat-label>
                                <mat-form-field>
                                    <input matInput placeholder="Enter Gst Number" formControlName="GSTno" required>
                                </mat-form-field>
                            </div>
                            <div class='sideformView'>
                                <mat-label>Location</mat-label>
                                <mat-form-field>
                                    <input matInput placeholder="Enter Location" formControlName="location" required>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row items-center">
                                <button class="add-btn mat-flat-button mat-primary ml-2" mat-flat-button
                                    matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="verificationform">
                        <form [formGroup]="verificationform">
                            <div class="flex gt-xs:flex-row flex-auto">
                              <div class='upload-wrapper'>
                                <label class='matlbl'>Adhar Front image</label>
                                <div class='fileinput'(click)="fileInput.click()">
                                <input formControlName="adharfront" class='filedata' hidden #fileInput type="file" id="file">
                                  <span>+ </span>
                                </div>
                              </div>
                              <div class='upload-wrapper'>
                                <label class='matlbl'>Adhar Back image</label>
                                <div class='fileinput'(click)="fileInput1.click()">
                                <input formControlName="adharback" class='filedata' hidden #fileInput1 type="file" id="file1">
                                  <span>+ </span>
                                </div>
                              </div> 
                              
                             <div class='clear'></div>

                            </div>
                            <button class="add-btn mat-flat-button mat-primary ml-2" mat-flat-button
                                (click)="signIn()">Submit</button>
                        </form>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </treo-card>

</div>