
<ng-container *ngFor="let item of item.children; trackBy: trackByFn">

    <!-- Skip the hidden items -->
    <ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">

        <!-- Basic -->
        <treo-vertical-navigation-basic-item *ngIf="item.type === 'basic'"
                                            [item]="item"
                                            [name]="name"></treo-vertical-navigation-basic-item>

        <!-- Collapsable -->
        <treo-vertical-navigation-collapsable-item *ngIf="item.type === 'collapsable'"
                                                  [item]="item"
                                                  [name]="name"
                                                  [autoCollapse]="autoCollapse"></treo-vertical-navigation-collapsable-item>

        <!-- Divider -->
        <!-- <treo-vertical-navigation-divider-item *ngIf="item.type === 'divider'"
                                              [item]="item"
                                              [name]="name"></treo-vertical-navigation-divider-item> -->

        <!-- Group -->
        <!-- <treo-vertical-navigation-group-item *ngIf="item.type === 'group'"
                                            [item]="item"
                                            [name]="name"></treo-vertical-navigation-group-item> -->

        <!-- Spacer -->
        <!-- <treo-vertical-navigation-spacer-item *ngIf="item.type === 'spacer'"
                                             [item]="item"
                                             [name]="name"></treo-vertical-navigation-spacer-item> -->

    </ng-container>

</ng-container>
