@import 'treo';
// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------
h1, h2, h3, h4, h5, p {
  margin: 0;
}

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex{
  width:100%;
  border-radius: 100px;
  border: 1px solid #bcbcbc;
  background-color: #ffffff;
  border-color: #bcbcbc!important;
  min-height: 46px;
  box-shadow:unset
}

.mat-form-field.mat-focused {
  border: 2px solid #000!important;
  border-color: #000!important;
}

.fl
{
  float: left;
}

.fr{
  float: right;
}
.fullwidth{
  width: 100% !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
  border-radius: 100px;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(0, 0, 0, 0.54);
}

.treo-theme-light .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color:rgba(0, 0, 0, 0.2)
}

.mat-form-field.mat-form-field-appearance-fill {
    .mat-form-field-wrapper {
        margin-bottom: 0px;
    }
}

.treo-theme-light .mat-form-field.mat-form-field-appearance-fill .mat-form-field-label{
  color: #222!important;
}

.round{
  border-radius: 45px;
}
/* comman class (center part spacing) */
.center-spacing {
    margin: 32px 40px 0;
    @media (max-width: 576px) {
      margin: 20px 16px 0;
    }
.content_bg {
  background: #fff;
  width: 100%;
  // padding: 0 20px;
}
}
.btn-primary.btn-primary:disabled, 
.btn-primary.btn-primary.is-disabled {
  background-color: #bbbbbb;
  border-color: rgba(0, 0, 0, 0.05);
    color: #FFF;
    cursor: default;
    pointer-events: none;
}

.center-card {
    margin-bottom: 32px;
    padding: 32px;
    border-radius: 8px;
    @media (max-width: 576px) {
        margin: 20px 16px 0;
        padding: 20px;
    }
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    .nodata_msg{
      text-align: center;
      padding: 10px;
      font-weight: 800;
      color: red;
      text-decoration: underline;
    }
  }

 
