@import 'treo';
// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------
h1, h2, h3, h4, h5, p {
  margin: 0;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(0, 0, 0, 0.54);
}

.treo-theme-light .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color:rgba(0, 0, 0, 0.2)
}

.mat-form-field.mat-form-field-appearance-fill {
    .mat-form-field-wrapper {
        margin-bottom: 0px;
    }
}
.header{
  width:100%;
  padding:20px;
  border-bottom:1px solid  #cfd8e3;
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: 48px;
  border-radius: 3px;
  padding: 0 16px;
  border-width: 1px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-color: rgba(0, 0, 0, 0.15);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  width:auto!important;
}
.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
  width: auto!important;
}
.sideformView{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 20px 0px;
    mat-label{
     max-width: 100px;
     width: -webkit-fill-available;
      color: #222222;
      font-weight: 600;
    }
    mat-form-field{
      margin: 0 10px;
      width:100%;
    }
  }

.treo-theme-light .mat-form-field.mat-form-field-appearance-fill .mat-form-field-label{
  color: #222!important;
}
/* comman class (center part spacing) */
.center-spacing {
    margin: 32px 40px 0;
    @media (max-width: 576px) {
      margin: 20px 16px 0;
    }
.content_bg {
  background: #fff;
  width: 100%;
  // padding: 0 20px;
}
}
.btn-primary.btn-primary:disabled, 
.btn-primary.btn-primary.is-disabled {
  background-color: #bbbbbb;
  border-color: rgba(0, 0, 0, 0.05);
    color: #FFF;
    cursor: default;
    pointer-events: none;
}

.center-card {
    margin-bottom: 32px;
    padding: 32px;
    border-radius: 8px;
    @media (max-width: 576px) {
        margin: 20px 16px 0;
        padding: 20px;
    }
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    .nodata_msg{
      text-align: center;
      padding: 10px;
      font-weight: 800;
      color: red;
      text-decoration: underline;
    }
  }

  @media only screen and (max-width: 600px) {
    .sideformView{
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
        mat-label{
          width: 100%;
        }
        mat-form-field{
          width: 100%;
         
        }
      }
  }
