@import 'treo';
// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------
h1, h2, h3, h4, h5, p {
  margin: 0;
}
.mat-form-field.mat-form-field-appearance-fill {
    .mat-form-field-wrapper {
        margin-bottom: 0px;
    }
}

.content_bg {
  background: #fff;
  // padding: 0 20px;
}

.btn-primary.btn-primary:disabled, 
.btn-primary.btn-primary.is-disabled {
  background-color: #bbbbbb;
  border-color: rgba(0, 0, 0, 0.05);
    color: #FFF;
    cursor: default;
    pointer-events: none;
}
