<div class="content-layout fullwidth-basic-normal-scroll">
    <treo-card class="auth-card" >
        <!-- Form container -->
        <div class="form-container">
            <div class="form">
                <!-- Logo -->
                <!-- <div class="logo">
                    <img src="assets/images/logo/logo.svg">
                </div> -->

                <!-- Title -->
                <div class="title mb-10">Sign in</div>
                <!-- Message -->
                <treo-message *ngIf="message" [appearance]="message.appearance" [showIcon]="message.showIcon"
                    [type]="message.type" [@shake]="message.shake">
                    {{message.content}}
                </treo-message>
               
                        <form>
                            <div *ngIf='!isotp'>

                                <mat-form-field>
                                    <mat-label>Mobile number</mat-label>
                                    <input matInput placeholder="Enter Email" required>
                                </mat-form-field>
                                <button class="submit-button treo-mat-button-large"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="sendotp()">
                           
                                <span >
                                   Send OTP
                                </span>
                                </button> 
                                   
                                 <!-- Form footer -->
                                    <div class="form-footer">
                                        <span>Return to</span>
                                        <a class="link"
                                        [routerLink]="['/pages/authentication/sign-in']">sign in</a>
                                    </div>
                            </div>

                                <div *ngIf='isotp'>
                                    <mat-form-field>
                                        <mat-label>OTP</mat-label>
                                        <input matInput placeholder="Enter Password" required>
                                    </mat-form-field>       
                                     <div class="form-footer">
                                        <span>Resend OTP?</span>
                                        <a class="link"
                                        [routerLink]="['/pages/authentication/sign-in']">sign in</a>
                                    </div>
                                    <button class="submit-button treo-mat-button-large"
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="sendotp()">
                               
                                    <span >
                                        Submit
                                    </span>
                                    </button> 
                                </div>
                        </form>
                       
                        </div>
      
        </div>
    </treo-card>
   
</div>


