<div class="content-layout fullwidth-basic-normal-scroll">
    <treo-card class="auth-card">
        <!-- Form container -->
        <div class="form-container">
            <div class="form">
                <!-- Logo -->
                <!-- <div class="logo">
                    <img src="assets/images/logo/logo.svg">
                </div> -->

                <!-- Title -->
                <div class="title mb-10">Sign in</div>
                <!-- Message -->
                <treo-message *ngIf="message" [appearance]="message.appearance" [showIcon]="message.showIcon"
                    [type]="message.type" [@shake]="message.shake">
                    {{message.content}}
                </treo-message>
               
                        <form>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Enter Email" required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Enter Password" required>
                            </mat-form-field>
                            <a class="link"
                            [routerLink]="['/sign-up']">sign Up</a>
                        </form>
                   

                
            </div>
        </div>
    </treo-card>

</div>