@import 'treo';

auth-sign-in {

    .content-layout {
        align-items: center;
        justify-content: center;

        treo-card {

            .form-container {

                .form {
                    width: 100%;
                    min-width: 100%;
                    max-width: 100%;
                }
                
                .mat-step-header.mat-horizontal-stepper-header {
                    height: auto;
                    padding: 0;
                    .mat-step-icon {
                        margin-right:0px;
                    }
                    .mat-step-label {
                        display: none;
                    }
                }

                .subtitle, .title {
                    text-align: center;
                }
            }
        }
    }
}


// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

}
