@import 'treo';


treo-card{
    max-width: 800px;
    margin: auto!important;
    box-shadow: unset!important;
}
.registration-layout{
    padding: 20px 10px;
    width: 100%;
    .reg-left{
        display: inline-block;
        float: left;
        width: 50%;
        .logo{
            margin-top: 20px;
            img{
                height: 80px;
                width: 80px;
            }
        }
        .regbanner{
            width: auto;
            height: auto;
            padding: 15% 15% 0;
        }
    }
    .reg-right{
        margin: 30px 0;
        display: inline-block;
        float: left;
        width: 50%;
    }
    mat-form-field{
        width:100%;
        border-radius: 100px;
        border: 1px solid #bcbcbc;
        background-color: #ffffff;
        margin: 7px 0;
        box-shadow:unset;
      }
    .add-btn{
        margin-top: 12px;
        width: 100%;
        border-radius: 100px;
        padding: 5px 0px;
        min-height: 48px;
    }
    .mat-step-label{
        min-width:0px
    }
    h3{
        text-align: center;
        margin: 20px 0;
    }
   
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

}
